---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <a href="/" class="logo">{SITE_TITLE}</a>

    <ul class="site-nav" role="list">
      <li><HeaderLink href="/">Home</HeaderLink></li>
      <li><HeaderLink href="/blog/">Blog</HeaderLink></li>
      <li><HeaderLink href="/about/">About</HeaderLink></li>
    </ul>

    <div class="social-links">
      <a href="https://m.webtoo.ls/@astro">Follow Astro on Mastodon</a>
      <a href="https://twitter.com/astrodotbuild">Follow Astro on Twitter</a>
      <a href="https://github.com/withastro/astro">Go to Astro's GitHub repo</a>
    </div>
  </nav>
</header>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 1rem 0;
  }

  .logo {
    font-weight: 700;
    text-decoration: none;
  }

  .site-nav {
    display: flex;
    gap: .75rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .site-nav a {
    text-decoration: none;
  }

  .social-links {
    display: flex;
    gap: .5rem;
  }

  .social-links a {
    text-decoration: none;
  }

  .social-links a:hover {
    color: var(--accent);
  }

  @media (max-width: 720px) {
    .social-links { display: none; }
  }
</style>
