---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
}
const { title = 'CyberRedBlog', description = 'Blog' } = Astro.props as Props;
---

<html lang="ro">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      html, body { height: 100%; }
      body { margin: 0; min-height: 100vh; display: flex; flex-direction: column; }
      main { flex: 1 0 auto; }
      footer { margin-top: auto; }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
